
aside {
    background-color: var(--trans-green);
    border-radius: 0 .5em .5em 0;
    grid-area: aside;
    height: fit-content;
    margin: calc(var(--h2-height) * 2.8) 0 1em 0;
}

aside > * {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

aside li {
    margin: .25em 0;
    width: 100%;
}

.user h3 {
    background-color: green;
    border-bottom: 1px solid darkgreen;
    border-radius: .25em;
    color: white;
    display: block;
    font-size: 1.25em;
    margin: 1em auto;
    padding: .25em .5em;
    width: fit-content
}

aside img {
    background-color: white;
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
    height: 10em;
    margin: 1em auto;
    width: 10em;
}

.aside-button {
    background-color: green;
    border: .1em solid darkgreen;
    border-left: .2em solid white;
    border-radius: 0 1em 1em 0;
    color: white;
    display: block;
    font-weight: 600;
    padding: .1em 0 .1em .66em;
    width: 95%;
}