
.cart {
    margin: 0;
}

.cart ~ h3, .cart ~ div {
    margin: 0 1em 0 2em;
    padding: 1em 0;
    text-align: center;
}

.cart-item {
    border-left: .5em solid white;
    border-bottom: 1px solid var(--trans-light-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5em .5em 1.5em 1em ;
}

.cart-item figure {
    align-items: center;
    display: flex;
    width:100%;
}

.cart-item figcaption {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
}

.cart-item figcaption div {
    display: flex;
    justify-content: space-between;
}

.cart-item span:not(.cart-item-buttons) {
    text-align: left;
    width: fit-content;
}

.cart-item h3 {
    text-align: left;
    margin: 0;
}

.cart-item img {
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    margin: 0 2em 0 0;
    width: 15%;
}

.cart-item img.a {
    z-index: 2;
}

.cart-item img.b {
    position: absolute;
    transform: translate(-.6em, -.6em);
    width:5%;
}

.cart-item img.c {
    position: absolute;
    transform: translate(-.35em, -.35em);
    width: 6.5%;
}

.cart-item-buttons {
    width: fit-content;
}

.cart-item-buttons a {
    aspect-ratio: 1 / 1;
    padding: 0 .375em;
}