
nav {
    background: var(--selected-color);
    border: .1em solid black;
    grid-area: nav;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav a {
    background-color: orange;
    border-color: lightgray;
    border-left: .3em solid lightgrey;
    border-radius: .2em;
    padding: .25em .5em;
    transition: all .2s ease-in-out;
}

nav a:hover {
    box-shadow: 0 0 5px white;
    font-size: large;
    font-weight: 600;
    text-shadow: 0 0 .1em white;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: nav;
    width: 100%;
}
