
nav {
    background: var(--selected-color);
    border: .1em solid black;
    grid-area: nav;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav a {
    background-color: orange;
    border-color: lightgray;
    border-left: .3em solid lightgrey;
    border-radius: .2em;
    display: inline-block;
    padding: .5em 1em;
    transition: all .2s ease-in-out;
}

nav a:hover {
    box-shadow: 0 0 5px white;
    text-shadow: 0 0 .1em white;
}

nav sub {
    background: linear-gradient(90deg, transparent, darkgreen 25%);
    border-radius: 0 .33em .33em 0;
    color: white;
    font-weight: bold;
    padding: 0 .5em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: nav;
    height: fit-content;
    margin: 0;
    padding: .5em .125em;
    width: 100%;
}
