.order-info .button {
    padding: 0;
}

.order-info {
    align-items: center;
    display: flex;
    justify-content: center;
}

.order-info > div {
    border-color: green;
    border-width: 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 33%;
}

.order-info li {
    margin-bottom: 1.25em;
}

.order-info span:nth-child(2) {
    border-left: .2em solid white;
}

.order-info span {
    display: inline-block;
    padding: 0 1em;
    max-width: 10em;
    min-width: fit-content;
}

.order-info ol {
    height: 8vh;
    margin-bottom: 0;
    overflow-y: scroll;
}

.order-info ul {
    border-left: .2em solid white;
    margin-left: 1em;
    padding-left: 1em;
}